.profile {
  background-color: $white-color;
  border-radius: 0 0 0.4rem 0.4rem;
}

.profile__bg {
  height: 18rem;
  position: relative;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  label {
    position: absolute;
    top: 2rem;
    right: 7.6rem;

    display: block;

    width: 13.2rem;
    padding: 0 1rem;

    background: rgba($white-color, 0.9);
    box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
    border-radius: 0.4rem;

    font-size: 1.2rem;
    line-height: 1.04;
    text-transform: uppercase;
    cursor: pointer;

    input {
      display: none;
    }

    span {
      margin-left: 1rem;
      line-height: 3.6rem;

      transition: color 0.2s linear;
    }

    svg {
      margin-bottom: -0.4rem;

      path {
        transition: stroke 0.2s linear;
      }
    }

    &:hover {
      span {
        color: $blue-color;
      }

      path {
        stroke: $blue-color;
      }
    }
  }

  .btn {
    position: absolute;
    top: 2rem;

    &--download {
      right: 3rem;
    }

    &--upload {
      left: 3rem;

      width: 3.6rem;
      height: 3.6rem;
    }

    path {
      transition: stroke 0.2s linear;
    }

    &:hover {
      path {
        stroke: $blue-color;
      }
    }
  }
}

.profile__avatar {
  position: relative;
  margin-top: -2rem;
  margin-left: 2.5rem;

  img {
    display: block;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    border: 1rem solid $white-color;
    object-fit: cover;
  }
}

.profile__description {
  padding: 2.5rem 2.5rem 3.5rem;

  div + div {
    margin-top: 1.5rem;
  }
}

.profile__data,
.profile__description_header,
.profile__description_footer {
  display: flex;
}

.profile__description_header {
  justify-content: space-between;

  &-location {
    display: flex;
    font-size: 1.2rem;

    svg {
      margin-right: 0.8rem;
    }
  }
}
