.projects {
  padding: 3rem 2rem;
}

.projects__header {
  display: flex;

  @include breakpoint($large-bp) {
    justify-content: center;
  }
}

.projects__title {
  margin-left: 1rem;
}

.projects__number {
  font-size: 1.8rem;
  color: #747474;

  margin-left: 1.5rem;
}

.projects__pictures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &_item {
    margin: 0 1rem;
    &-preview {
      width: 25rem;
      height: 16rem;
      overflow: hidden;

      margin-bottom: 1.5rem;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      cursor: pointer;
      transition: transform 1s ease-in-out;

      &:hover {
        transform: scale(1.3);
        transition-duration: 5s;
      }
    }

    &-subtitle {
      margin-bottom: 0.5rem;

      &:hover {
        text-decoration: underline;
      }
    }

    &-text {
      margin-bottom: 2.5rem;

      font-weight: 300;
    }
  }
}

.projects__link {
  margin-left: 1rem;
}
